.logo{
    font-family: "Bebas Neue";
    font-size: 2em;
    transition: 0.3s;
    opacity: 75%;
}
.logo:hover{
    opacity: 100%;
}
.nav-item{
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    opacity: 100%;
}
.nav-link {
    color: black;
    margin-left: 0.4em;
    margin-right: 0.4em;
    transition: 0.4s;
}
.dropdown-item:hover{
    cursor: pointer;
    color: blue;
}
.dropdown-menu{  
    display:block; 
    opacity: 0;
    visibility: hidden; 
    transition:.2s; 
    margin-top:8px;  
}
.nav-item:hover .dropdown-menu{ 
    transition: .2s; 
    opacity:1;
    visibility:visible; 
}
.dropdown-item{
    transition:0.4s;
}
#game-container{
    margin: 2rem;
    padding-top: 1.5rem;
    height: 100%;
    display: flex;
}
#game{
    margin: 0 auto;
    display: block;
    justify-content: center;
    transform-origin: top;
}
#initialize{
    margin: 0 auto;
    padding: 0.5em 4em;
    overflow: hidden;
    display: flex;
    top: 1em;
    justify-content: center;
}
#play-button{
    margin: 0 auto;
    justify-content: center;
    display: block;
    margin-top: 1.5em;
}
#warning{
    padding: 0.5em;
    margin: 1em;
}