<%- include('../partials/_header.ejs') %>
<div id="initialize" class="card expandable bg-light shadow">
    <div class="card-body">
        <p class="display-5 mx-5 my-4 centered-text" >Human Vs. Human</p>
        <form id="initialize-form" name="boardSetup" action="/" method="post" onsubmit="return(validate())">
            <label for="sizeInput">Size of the board:</label>
            <input class="number form-control mb-2" type="number"
                id="sizeInput" name="sizeInput" value="10" maxlength="2" min="5" max="19">
            <input id="play-button" class="btn btn-success btn-lg" type="submit" value="Play">
        </form>
    </div>
    <div class="alert alert-warning" role="alert" id="warning" style="display:none"></div>
</div>
<script src="./pages/frontscript.js"></script>
<%- include('../partials/_footer') %>